.nilia-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  background-color: white;
  position: relative;
}

.nilia-special-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
  background-color: #10374F;
  position: relative;
  --mask: 
    linear-gradient(to bottom, transparent 30px, #000 0),
    radial-gradient(30px, #000 98%, transparent) top/55.5px 60px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.no-pd {
  padding: 0;
}

.bg-nilia-marrom {
  background-color: #fff1e8;
}

.bg-nilia-standard {
  background-color: transparent;
}

.nilia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-inline: 1rem;
  gap: 2.5rem;
  border-radius: 0.3rem;
}

.nilia-container-image {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.img-decr {
  max-height: 350px !important;
}

.activities-block {
  width: 100%;
  height: 43vh;
  position: relative;
  background-color: #ff812e;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

.activities-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 43vh;
  object-fit: cover;
  border-radius: 0.3rem;
  clip-path: ellipse(100% 100% at 100% 11%);
}
.activities-icons {
  width: 4rem;
}
.ask-container {
  position: relative;
}
.ask-icon {
  position: absolute;
  top: 20px;
  right: 22%;
  width: 110px;
  height: 110px;
  border-radius: 0.3rem;
}

.visit-container {
  z-index: 99999;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.65);
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visit-bg-image {
  z-index: 1;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 0.3rem;
}
.nilia-team-image {
  width: 300px; /* adjust as needed */
  height: 300px; /* adjust as needed */
  border-radius: 50%;
  object-fit: cover;
}


.card-school-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-block: 3rem;
  background-color: #ff812e;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: auto;
}

.circle-number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff812e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.nilia-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}